@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #ff3c38;
  --color-secundary: #14213d;
  --color-highlight: #fca311;
  --color-backgroundLight: #f9f9f9;
  --color-backgroundDark: #1f1f1f;
  --color-success: #06d6a0;
  --color-warning: #ffd166;
  --color-danger: #ef476f;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-full: 9999px;

  --font-poppins: "Poppins", sans-serif;
  --font-bebas: "Bebas_Neue", cursive;
  --font-sans: var(--font-poppins);
  --font-bebas: var(--font-bebas);
}
